In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('ratings.dat', sep='::', names = ['user_id', 'item_id', 'rating', 'timestamp'])

C:\myprogram\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [15]:
df.head()

   user_id  item_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291

In [16]:
len(df)

1000209

In [13]:
print('user num: ',df['user_id'].unique().shape[0])

user num:  6040

In [14]:
print('item num: ',df['item_id'].unique().shape[0])

item num:  3706

In [3]:
train, test = train_test_split(df, test_size = 0.2, random_state=0)

array([   1,    1,    1, ..., 6040, 6040, 6040], dtype=int64)

In [20]:
test.head()

        user_id  item_id  rating  timestamp
324271     1922     2094       4  974694867
818637     4918     2808       1  963084545
148677      957     1660       4  975130093
778790     4653      914       5  975532963
525489     3245     3324       1  968308411

In [22]:
len(train) / len(test)

3.9999950010497796

In [35]:
for name, g in test[['user_id', 'item_id']].groupby(['user_id']):
    print(type(g['item_id'].values))
    print(set(g['item_id'].values))
    break

<class 'numpy.ndarray'>
{608, 1028, 1035, 1836, 2797, 1197, 3186, 2804, 1022, 1207, 1246}

In [28]:
list(test[['user_id', 'item_id']].groupby(['user_id']))[0]

(1,     user_id  item_id
 19        1     2797
 14        1     1035
 36        1     1836
 31        1     3186
 47        1     1207
 7         1     2804
 51        1      608
 5         1     1197
 52        1     1246
 37        1     1022
 45        1     1028)